@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #ffffffd9; /* bg-gray-900 */
  color: white;
font-family: var(--font-inter);
}


[data-theme="dark"] body{
  background-color:oklch(13% 0.028 261.692);

}


